In [1]:
!pip3 install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl (8.9MB)
    100% |████████████████████████████████| 8.9MB 173kB/s
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/f8/0e/2365ddc010afb3d79147f1dd544e5ee24bf4ece58ab99b16fbb465ce6dc0/pytz-2018.7-py2.py3-none-any.whl (506kB)
    100% |████████████████████████████████| 512kB 2.4MB/s
Collecting numpy>=1.9.0 (from pandas)
  Downloading https://files.pythonhosted.org/packages/ff/7f/9d804d2348471c67a7d8b5f84f9bc59fd1cefa148986f2b74552f8573555/numpy-1.15.4-cp36-cp36m-manylinux1_x86_64.whl (13.9MB)
    100% |████████████████████████████████| 13.9MB 111kB/s
Collecting python-dateutil>=2.5.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/74/68/d87d9b36af36f44254a8d512cbfc48369103a3b9e474be9bdfe536abfc45/python_dateutil-2.7.5-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.5.0->pandas)
  Using cached https://files.pythonhosted.org/packages/67/4b/141a581104b1f6397bfa78ac9d43d8ad29a7ca43ea90a2d863fe3056e86a/six-1.11.0-py2.py3-none-any.whl
Installing collected packages: pytz, numpy, six, python-dateutil, pandas
Successfully installed numpy-1.15.4 pandas-0.23.4 python-dateutil-2.7.5 pytz-2018.7 six-1.11.0

In [4]:
pd=import ('pandas')

SyntaxError: invalid syntax (<ipython-input-4-91c5eb7a0339>, line 1)

In [5]:
import pandas as pd

In [6]:
pd

In [7]:
edlevel = pd.read_csv ('./education_level.csv')

In [14]:
edlevel.loc[0,'date']

2011

In [15]:
edlevel.loc[1,'date']

2011

In [17]:
edlevel.loc[1]['date']

2011

In [20]:
edlevel.loc[1]['date']

2011

In [22]:
%history

!pip3 install pandas
import pandas
pd=import pandas
pd=import ('pandas')
import pandas as pd
pd
edlevel = pd.read_csv ('./education_level.csv')
edlevel
edlevel[0]
edlevel
edlevel[0]
edlevel
edlevel.loc[0,date]
edlevel.loc[0,'date']
edlevel.loc[1,'date']
edlevel.loc[1]
edlevel.loc[1]['date']
edlevel
edlevel[1]['date']
edlevel.loc[1]['date']
edlevel
%history

In [24]:
edlevel.length

AttributeError: 'DataFrame' object has no attribute 'length'

In [25]:
len(edlevel)

9481

In [26]:
type(edlevel.loc[1,'WD11CD'])

str

In [27]:
type(edlevel.loc[1,'WD11CD']) == str

True

In [30]:
edlevel.loc.map(lambda x: x)

AttributeError: '_LocIndexer' object has no attribute 'map'

In [36]:
edlevel.apply(lambda x: 'Hi'))

SyntaxError: invalid syntax (<ipython-input-36-f523d5c6654b>, line 1)

In [38]:
edlevel.loc.map(lambda x: 'Hi'))

SyntaxError: invalid syntax (<ipython-input-38-d62d44736d5a>, line 1)

In [67]:
mask = edlevel['WD11CD'].isnull()

In [70]:
edlevel['WD11CD'][~mask]

0       E36000089
1       E36000090
2       E36000091
3       E36000092
4       E36000093
5       E36000094
6       E36000095
7       E36000096
8       E36000097
9       E36000098
10      E36000099
11      E36000100
12      E36000101
13      E36000102
14      E36000103
15      E36000104
16      E36000105
17      E36000106
18      E36000107
19      E36000108
20      E36000109
21      E36000110
22      E36000111
23      E36000112
24      E36001063
25      E36001064
26      E36001065
27      E36001066
28      E36001067
29      E36001068
          ...
9451       95YY08
9452       95YY09
9453       95YY10
9454       95YY11
9455       95YY12
9456       95YY13
9457       95YY14
9458       95YY15
9459       95YY16
9460       95YY17
9461       95YY18
9462       95YY19
9463       95YY20
9464       95YY21
9465       95ZZ01
9466       95ZZ02
9467       95ZZ03
9468       95ZZ04
9469       95ZZ05
9470       95ZZ06
9471       95ZZ07
9472       95ZZ08
9473       95ZZ09
9474       95ZZ10
9475       95ZZ11
9476       95ZZ12
9477       95ZZ13
9478       95ZZ14
9479       95ZZ15
9480       95ZZ16
Name: WD11CD, Length: 9481, dtype: object

In [68]:
 edlevel['WD11CD'].isnull()[~mask]

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9451    False
9452    False
9453    False
9454    False
9455    False
9456    False
9457    False
9458    False
9459    False
9460    False
9461    False
9462    False
9463    False
9464    False
9465    False
9466    False
9467    False
9468    False
9469    False
9470    False
9471    False
9472    False
9473    False
9474    False
9475    False
9476    False
9477    False
9478    False
9479    False
9480    False
Name: WD11CD, Length: 9481, dtype: bool

In [71]:
%history

!pip3 install pandas
import pandas
pd=import pandas
pd=import ('pandas')
import pandas as pd
pd
edlevel = pd.read_csv ('./education_level.csv')
edlevel
edlevel[0]
edlevel
edlevel[0]
edlevel
edlevel.loc[0,date]
edlevel.loc[0,'date']
edlevel.loc[1,'date']
edlevel.loc[1]
edlevel.loc[1]['date']
edlevel
edlevel[1]['date']
edlevel.loc[1]['date']
edlevel
%history
edlevel
edlevel.length
len(edlevel)
type(edlevel.loc[1,'WD11CD'])
type(edlevel.loc[1,'WD11CD']) == str
edlevel.map(lambda x: x.loc['WD11CD'])
edlevel.map(lambda x: x)
edlevel.loc.map(lambda x: x)
edlevel['WD11CD'].map(lambda x: x)
edlevel.map(lambda x: x)
edlevel.apply(lambda x: x)
edlevel.apply(lambda x: x['WD11CD'])
edlevel.apply(lambda x: type(x['WD11CD']))
edlevel.apply(lambda x: 'Hi'))
edlevel.map(lambda x: 'Hi'))
edlevel.loc.map(lambda x: 'Hi'))
edlevel['WD11CD']
edlevel['WD11CD'].apply
edlevel.apply (lambda x : type(x) == str)
edlevel.apply (lambda x : type(x['WD11CD']) == str)
edlevel.map (lambda x : type(x['WD11CD']) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) != str)
edlevel['WD11CD'].filter (lambda x : type(x) not == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'].map (lambda x : type(x) != str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][~mask]
edlevel.info[]
edlevel.info()
edlevel.info()
 edlevel['WD11CD'].isnull
 edlevel['WD11CD'].isnull()
mask = edlevel['WD11CD'].map (lambda x : x.isnull)
mask = edlevel['WD11CD'].map (lambda x : x.isnull())
mask = edlevel['WD11CD'].isnull()
 edlevel['WD11CD'].isnull()[~mask]
edlevel['WD11CD'][~mask]
edlevel['WD11CD'][~mask]
%history

In [72]:
edlevel = pd.read_csv ('./education_level.csv')

In [73]:
mask = edlevel['WD11CD'].isnull()

In [74]:
edlevel['WD11CD'][~mask]

0       E36000089
1       E36000090
2       E36000091
3       E36000092
4       E36000093
5       E36000094
6       E36000095
7       E36000096
8       E36000097
9       E36000098
10      E36000099
11      E36000100
12      E36000101
13      E36000102
14      E36000103
15      E36000104
16      E36000105
17      E36000106
18      E36000107
19      E36000108
20      E36000109
21      E36000110
22      E36000111
23      E36000112
24      E36001063
25      E36001064
26      E36001065
27      E36001066
28      E36001067
29      E36001068
          ...
9451       95YY08
9452       95YY09
9453       95YY10
9454       95YY11
9455       95YY12
9456       95YY13
9457       95YY14
9458       95YY15
9459       95YY16
9460       95YY17
9461       95YY18
9462       95YY19
9463       95YY20
9464       95YY21
9465       95ZZ01
9466       95ZZ02
9467       95ZZ03
9468       95ZZ04
9469       95ZZ05
9470       95ZZ06
9471       95ZZ07
9472       95ZZ08
9473       95ZZ09
9474       95ZZ10
9475       95ZZ11
9476       95ZZ12
9477       95ZZ13
9478       95ZZ14
9479       95ZZ15
9480       95ZZ16
Name: WD11CD, Length: 9481, dtype: object

In [88]:
mask = edlevel['WD11CD'] == 'E36000089'

In [89]:
%history

!pip3 install pandas
import pandas
pd=import pandas
pd=import ('pandas')
import pandas as pd
pd
edlevel = pd.read_csv ('./education_level.csv')
edlevel
edlevel[0]
edlevel
edlevel[0]
edlevel
edlevel.loc[0,date]
edlevel.loc[0,'date']
edlevel.loc[1,'date']
edlevel.loc[1]
edlevel.loc[1]['date']
edlevel
edlevel[1]['date']
edlevel.loc[1]['date']
edlevel
%history
edlevel
edlevel.length
len(edlevel)
type(edlevel.loc[1,'WD11CD'])
type(edlevel.loc[1,'WD11CD']) == str
edlevel.map(lambda x: x.loc['WD11CD'])
edlevel.map(lambda x: x)
edlevel.loc.map(lambda x: x)
edlevel['WD11CD'].map(lambda x: x)
edlevel.map(lambda x: x)
edlevel.apply(lambda x: x)
edlevel.apply(lambda x: x['WD11CD'])
edlevel.apply(lambda x: type(x['WD11CD']))
edlevel.apply(lambda x: 'Hi'))
edlevel.map(lambda x: 'Hi'))
edlevel.loc.map(lambda x: 'Hi'))
edlevel['WD11CD']
edlevel['WD11CD'].apply
edlevel.apply (lambda x : type(x) == str)
edlevel.apply (lambda x : type(x['WD11CD']) == str)
edlevel.map (lambda x : type(x['WD11CD']) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) != str)
edlevel['WD11CD'].filter (lambda x : type(x) not == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'].map (lambda x : type(x) != str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][~mask]
edlevel.info[]
edlevel.info()
edlevel.info()
 edlevel['WD11CD'].isnull
 edlevel['WD11CD'].isnull()
mask = edlevel['WD11CD'].map (lambda x : x.isnull)
mask = edlevel['WD11CD'].map (lambda x : x.isnull())
mask = edlevel['WD11CD'].isnull()
 edlevel['WD11CD'].isnull()[~mask]
edlevel['WD11CD'][~mask]
edlevel['WD11CD'][~mask]
%history
edlevel = pd.read_csv ('./education_level.csv')
mask = edlevel['WD11CD'].isnull()
edlevel['WD11CD'][~mask]
edlevel
edlevel.set_index('WD11CD')
edlevel.reset_index('WD11CD')
edlevel.set_index('WD11CD')
edlevel.set_index('WD11CD').reset_index
edlevel.set_index('WD11CD').reset_index()
edlevel.set_index('WD11CD').reset_index()['E36000089']
edlevel['E36000089']
edlevel
mask = edlevel('WD11CD') == 'E36000089'
mask = edlevel('WD11CD' == 'E36000089')
mask = edlevel('WD11CD') == 'E36000089'
mask = edlevel[]'WD11CD'] == 'E36000089'
mask = edlevel['WD11CD'] == 'E36000089'
%history

In [94]:
mask = edlevel['WD11CD'] == 'E36000091'

In [96]:
edlevel[mask]

,date,geography,WD11CD,Qualifications: All categories: Highest level of qualification; measures: Value,Qualifications: No qualifications; measures: Value,Qualifications: Highest level of qualification: Level 1 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 2 qualifications; measures: Value,Qualifications: Highest level of qualification: Apprenticeship; measures: Value,Qualifications: Highest level of qualification: Level 3 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 4 qualifications and above; measures: Value,Qualifications: Highest level of qualification: Other qualifications; measures: Value,Qualifications: Schoolchildren and full-time students: Age 16 to 17; measures: Value,Qualifications: Schoolchildren and full-time students: Age 18 and over; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: In employment; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: Unemployed; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically inactive; measures: Value
2,2011,Cockerton East,E36000091,4328,1014,695,727,270,605,855,162,145,118,50,16,52

In [98]:
def row_by_GSS (wd11cd):
    mask = edlevel['WD11CD'] == wd11cd
    return edlevel[mask]

In [103]:
row_by_GSS ('E36000091')

,date,geography,WD11CD,Qualifications: All categories: Highest level of qualification; measures: Value,Qualifications: No qualifications; measures: Value,Qualifications: Highest level of qualification: Level 1 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 2 qualifications; measures: Value,Qualifications: Highest level of qualification: Apprenticeship; measures: Value,Qualifications: Highest level of qualification: Level 3 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 4 qualifications and above; measures: Value,Qualifications: Highest level of qualification: Other qualifications; measures: Value,Qualifications: Schoolchildren and full-time students: Age 16 to 17; measures: Value,Qualifications: Schoolchildren and full-time students: Age 18 and over; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: In employment; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: Unemployed; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically inactive; measures: Value
2,2011,Cockerton East,E36000091,4328,1014,695,727,270,605,855,162,145,118,50,16,52

In [101]:
def make_row_by_GSS (dataset):
    def fn (wd11cd):
        mask = dataset['WD11CD'] == wd11cd
        return dataset[mask]
    return fn

In [102]:
row_by_GSS = make_row_by_GSS(edlevel)

In [104]:
%history

!pip3 install pandas
import pandas
pd=import pandas
pd=import ('pandas')
import pandas as pd
pd
edlevel = pd.read_csv ('./education_level.csv')
edlevel
edlevel[0]
edlevel
edlevel[0]
edlevel
edlevel.loc[0,date]
edlevel.loc[0,'date']
edlevel.loc[1,'date']
edlevel.loc[1]
edlevel.loc[1]['date']
edlevel
edlevel[1]['date']
edlevel.loc[1]['date']
edlevel
%history
edlevel
edlevel.length
len(edlevel)
type(edlevel.loc[1,'WD11CD'])
type(edlevel.loc[1,'WD11CD']) == str
edlevel.map(lambda x: x.loc['WD11CD'])
edlevel.map(lambda x: x)
edlevel.loc.map(lambda x: x)
edlevel['WD11CD'].map(lambda x: x)
edlevel.map(lambda x: x)
edlevel.apply(lambda x: x)
edlevel.apply(lambda x: x['WD11CD'])
edlevel.apply(lambda x: type(x['WD11CD']))
edlevel.apply(lambda x: 'Hi'))
edlevel.map(lambda x: 'Hi'))
edlevel.loc.map(lambda x: 'Hi'))
edlevel['WD11CD']
edlevel['WD11CD'].apply
edlevel.apply (lambda x : type(x) == str)
edlevel.apply (lambda x : type(x['WD11CD']) == str)
edlevel.map (lambda x : type(x['WD11CD']) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) != str)
edlevel['WD11CD'].filter (lambda x : type(x) not == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'].map (lambda x : type(x) != str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'].filter (lambda x : type(x) == str)
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) not == str)
edlevel['WD11CD'][mask]
mask = edlevel['WD11CD'].map (lambda x : type(x) == str)
edlevel['WD11CD'][~mask]
edlevel.info[]
edlevel.info()
edlevel.info()
 edlevel['WD11CD'].isnull
 edlevel['WD11CD'].isnull()
mask = edlevel['WD11CD'].map (lambda x : x.isnull)
mask = edlevel['WD11CD'].map (lambda x : x.isnull())
mask = edlevel['WD11CD'].isnull()
 edlevel['WD11CD'].isnull()[~mask]
edlevel['WD11CD'][~mask]
edlevel['WD11CD'][~mask]
%history
edlevel = pd.read_csv ('./education_level.csv')
mask = edlevel['WD11CD'].isnull()
edlevel['WD11CD'][~mask]
edlevel
edlevel.set_index('WD11CD')
edlevel.reset_index('WD11CD')
edlevel.set_index('WD11CD')
edlevel.set_index('WD11CD').reset_index
edlevel.set_index('WD11CD').reset_index()
edlevel.set_index('WD11CD').reset_index()['E36000089']
edlevel['E36000089']
edlevel
mask = edlevel('WD11CD') == 'E36000089'
mask = edlevel('WD11CD' == 'E36000089')
mask = edlevel('WD11CD') == 'E36000089'
mask = edlevel[]'WD11CD'] == 'E36000089'
mask = edlevel['WD11CD'] == 'E36000089'
%history
mask
edlevel

mask = edlevel('WD11CD') == 'E36000091'
mask = edlevel('WD11CD') == 'E36000091'
mask = edlevel['WD11CD'] == 'E36000091'
mask
edlevel[mask]
def row_by_GSS (wd11cd)
    mask = edlevel['WD11CD'] == wd11cd
    return edlevel[mask]
def row_by_GSS (wd11cd):
    mask = edlevel['WD11CD'] == wd11cd
    return edlevel[mask]
row_by_GSS ('E36000091')
def make_row_by_GSS (dataset):
    fn = function (wd11cd):
        mask = dataset['WD11CD'] == wd11cd
        return dataset[mask]
    return fn
def make_row_by_GSS (dataset):
    def fn (wd11cd):
        mask = dataset['WD11CD'] == wd11cd
        return dataset[mask]
    return fn
row_by_GSS = make_row_by_GSS(edlevel)
row_by_GSS ('E36000091')
%history

In [105]:
edlevel

,date,geography,WD11CD,Qualifications: All categories: Highest level of qualification; measures: Value,Qualifications: No qualifications; measures: Value,Qualifications: Highest level of qualification: Level 1 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 2 qualifications; measures: Value,Qualifications: Highest level of qualification: Apprenticeship; measures: Value,Qualifications: Highest level of qualification: Level 3 qualifications; measures: Value,Qualifications: Highest level of qualification: Level 4 qualifications and above; measures: Value,Qualifications: Highest level of qualification: Other qualifications; measures: Value,Qualifications: Schoolchildren and full-time students: Age 16 to 17; measures: Value,Qualifications: Schoolchildren and full-time students: Age 18 and over; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: In employment; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically active: Unemployed; measures: Value,Qualifications: Full-time students: Age 18 to 74: Economically inactive; measures: Value
0,2011,Bank Top,E36000089,3342,1087,440,508,154,440,531,182,80,88,31,3,54
1,2011,Central,E36000090,3437,1052,490,561,157,414,603,160,69,113,43,9,60
2,2011,Cockerton East,E36000091,4328,1014,695,727,270,605,855,162,145,118,50,16,52
3,2011,Cockerton West,E36000092,3187,1134,523,522,143,343,368,154,84,63,26,7,30
4,2011,College,E36000093,3409,415,293,501,105,381,1624,90,117,89,40,4,45
5,2011,Eastbourne,E36000094,5009,1641,787,773,253,650,654,251,132,125,49,11,64
6,2011,Faverdale,E36000095,2264,207,301,393,91,383,819,70,63,59,32,5,22
7,2011,Harrowgate Hill,E36000096,4826,1097,719,859,329,698,932,192,153,122,63,5,54
8,2011,Haughton East,E36000097,3253,1087,465,521,160,337,516,167,84,90,32,6,52
9,2011,Haughton North,E36000098,2828,645,377,429,201,394,650,132,53,63,24,5,33
10,2011,Haughton West,E36000099,4317,1240,622,664,274,580,783,154,126,116,56,11,48
11,2011,Heighington and Coniscliffe,E36000100,3037,435,352,468,166,338,1170,108,78,58,30,1,27
12,2011,Hummersknott,E36000101,2956,429,263,428,129,349,1244,114,102,67,38,4,25
13,2011,Hurworth,E36000102,3029,519,339,476,162,432,983,118,87,62,34,0,28
14,2011,Lascelles,E36000103,3267,1195,450,506,148,384,416,168,94,95,46,8,41
15,2011,Lingfield,E36000104,3087,1090,423,464,184,366,401,159,72,80,36,10,34
16,2011,Middleton St George,E36000105,3827,683,434,600,174,500,1307,129,99,106,54,6,43
17,2011,Mowden,E36000106,3135,597,339,463,229,375,988,144,75,65,29,5,31
18,2011,North Road,E36000107,4938,1511,726,816,245,688,710,242,128,142,73,12,57
19,2011,Northgate,E36000108,3776,959,574,613,142,459,782,247,78,126,47,17,62
20,2011,Park East,E36000109,4862,1479,679,814,182,548,931,229,171,164,50,18,95
21,2011,Park West,E36000110,3006,445,265,436,126,306,1336,92,77,73,35,8,30
22,2011,Pierremont,E36000111,4519,884,695,773,238,695,1058,176,113,121,60,7,53
23,2011,Sadberge and Whessoe,E36000112,1718,334,194,253,88,218,583,48,57,42,14,3,25
24,2011,Annfield Plain,E36001063,6369,2085,947,1124,287,773,923,230,147,164,72,10,80
25,2011,Aycliffe East,E36001064,5148,1496,766,930,261,674,840,181,159,126,54,8,63
26,2011,Aycliffe North,E36001065,6345,1496,836,1115,310,828,1518,242,184,141,63,18,60
27,2011,Aycliffe West,E36001066,5969,1890,963,1051,276,715,789,285,184,147,68,9,70
28,2011,Barnard Castle East,E36001067,7198,1801,870,1108,282,803,2030,304,224,185,63,11,111
29,2011,Barnard Castle West,E36001068,7139,1579,993,1136,272,811,2078,270,160,157,61,5,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9451,2011,Drumquin,95YY08,1712,671,187,245,58,156,327,68,62,75,18,5,52
9452,2011,Drumragh,95YY09,1982,577,223,286,72,204,463,157,60,85,24,4,57
9453,2011,Fairy Water,95YY10,1718,480,171,299,59,194,469,46,81,84,23,1,60
9454,2011,Fintona,95YY11,1637,670,173,199,43,164,311,77,51,73,20,5,48
9455,2011,Gortin,95YY12,2125,583,184,298,70,256,609,125,95,103,30,5,68
9456,2011,Gortrush,95YY13,2197,702,279,355,73,228,451,109,83,90,20,8,62
9457,2011,Killyclogher,95YY14,2338,584,274,372,78,289,642,99,123,131,57,8,66
9458,2011,Lisanelly,95YY15,1530,552,186,250,39,162,248,93,60,56,15,4,37
9459,2011,Newtownsaville,95YY16,1838,582,209,251,88,206,438,64,76,96,32,1,63
9460,2011,Owenkillew,95YY17,1770,597,174,262,89,211,371,66,63,87,31,5,51
9461,2011,Sixmilecross,95YY18,1755,620,171,248,70,213,369,64,89,112,37,9,66
9462,2011,Strule,95YY19,1259,447,110,179,46,117,251,109,26,49,16,5,28
9463,2011,Termon,95YY20,1815,555,186,264,89,200,463,58,90,107,23,5,79
9464,2011,Trillick,95YY21,1837,551,203,312,78,207,412,74,62,86,23,12,51
9465,2011,Artigarvan,95ZZ01,2140,787,274,307,64,233,374,101,88,92,27,11,54
9466,2011,Ballycolman,95ZZ02,1440,720,177,185,30,137,150,41,64,71,13,8,50
9467,2011,Castlederg,95ZZ03,1724,790,172,236,45,175,202,104,55,80,17,1,62
9468,2011,Clare,95ZZ04,2099,879,229,288,60,225,323,95,63,109,29,6,74
9469,2011,Dunnamanagh,95ZZ05,1699,758,163,216,66,176,281,39,69,76,13,5,58
9470,2011,East,95ZZ06,1363,793,142,137,35,99,119,38,45,53,15,2,36
9471,2011,Finn,95ZZ07,2154,822,239,343,73,271,333,73,85,110,34,5,71
9472,2011,Glenderg,95ZZ08,2022,913,203,273,64,209,290,70,74,108,20,2,86
9473,2011,Newtownstewart,95ZZ09,1779,824,216,219,30,170,254,66,63,63,21,1,41
9474,2011,North,95ZZ10,2443,767,296,372,82,300,526,100,97,114,35,22,57
9475,2011,Plumbridge,95ZZ11,1726,608,192,237,89,187,331,82,84,68,22,6,40
9476,2011,Sion Mills,95ZZ12,1730,773,209,230,59,156,230,73,53,63,21,2,40
9477,2011,Slievekirk,95ZZ13,1970,690,247,265,76,257,361,74,64,89,34,4,51
9478,2011,South,95ZZ14,2491,804,309,379,73,314,474,138,101,141,54,12,75
9479,2011,Victoria Bridge,95ZZ15,1798,743,223,230,54,195,290,63,66,81,24,4,53
9480,2011,West,95ZZ16,2442,899,297,336,70,296,453,91,77,118,42,16,60